IMEXSistema/IMEXSistema/IMEXSistema/Web References/br.com.soawebservices.www1/crednet.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="SOAWebServices" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="SOAWebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h3&gt;SOA WebServices - SERASA Experian&lt;/h3&gt;</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="SOAWebServices">
      <s:element name="CredNet">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credenciais" type="tns:Credenciais" />
            <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Credenciais">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Senha" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="CredNetResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CredNetResult" type="tns:CredNet" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="CredNet">
        <s:complexContent mixed="false">
          <s:extension base="tns:Serialization">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Documento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Nome" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="SituacaoDocumento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="NomeMae" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="DataNascimento" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TotalOcorrencias" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="AlertaDocumentos" type="tns:ArrayOfAlertaDocumentos" />
              <s:element minOccurs="0" maxOccurs="1" name="PendenciasFinanceiras" type="tns:ArrayOfPendenciaFinanceira" />
              <s:element minOccurs="0" maxOccurs="1" name="PendenciasFinanceirasResumo" type="tns:PendenciasFinanceirasResumo" />
              <s:element minOccurs="0" maxOccurs="1" name="PendenciasVarejo" type="tns:ArrayOfPendenciaVarejo" />
              <s:element minOccurs="0" maxOccurs="1" name="PendenciasBacen" type="tns:ArrayOfPendenciaBacen" />
              <s:element minOccurs="0" maxOccurs="1" name="PendenciasProtestos" type="tns:ArrayOfProtesto" />
              <s:element minOccurs="0" maxOccurs="1" name="ProtestosResumo" type="tns:ProtestosResumo" />
              <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="Status" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="Serialization" />
      <s:complexType name="ArrayOfAlertaDocumentos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="AlertaDocumentos" nillable="true" type="tns:AlertaDocumentos" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="AlertaDocumentos">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mensagem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDD1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fone1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDD2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fone2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DDD3" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fone3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPendenciaFinanceira">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PendenciaFinanceira" nillable="true" type="tns:PendenciaFinanceira" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PendenciaFinanceira">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Modalidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Avalista" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Contrato" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Origem" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sigla" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PendenciasFinanceirasResumo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="QuantidadeTotal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataMenorOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataMaiorOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorTotal" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPendenciaVarejo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PendenciaVarejo" nillable="true" type="tns:PendenciaVarejo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PendenciaVarejo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCompensacaoBanco" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroAgencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="OrigemOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Sigla" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroLojaFilial" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPendenciaBacen">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="PendenciaBacen" nillable="true" type="tns:PendenciaBacen" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="PendenciaBacen">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TotalChequesSemFundo" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="DataOcorrenciaAntiga" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataOcorrenciaRecente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodigoCompensacao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroAgencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeFantasiaBanco" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfProtesto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Protesto" nillable="true" type="tns:Protesto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Protesto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="DataOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroCartorio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Cidade" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Estado" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SubJudice" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ProtestosResumo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="QuantidadeTotal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataMenorOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataMaiorOcorrencia" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorTotal" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CredNetSoapIn">
    <wsdl:part name="parameters" element="tns:CredNet" />
  </wsdl:message>
  <wsdl:message name="CredNetSoapOut">
    <wsdl:part name="parameters" element="tns:CredNetResponse" />
  </wsdl:message>
  <wsdl:portType name="SERASASoap">
    <wsdl:operation name="CredNet">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Consulta CredNet - Pendencias Financeiras + Cartorios de Protestos (Estadual) &lt;br /&gt;&lt;p&gt;Esta transacao verifica pendencias financeiras e Cartorios Estadual.&lt;/p&gt;</wsdl:documentation>
      <wsdl:input message="tns:CredNetSoapIn" />
      <wsdl:output message="tns:CredNetSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="SERASAHttpGet" />
  <wsdl:portType name="SERASAHttpPost" />
  <wsdl:binding name="SERASASoap" type="tns:SERASASoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CredNet">
      <soap:operation soapAction="SOAWebServices/CredNet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SERASASoap12" type="tns:SERASASoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CredNet">
      <soap12:operation soapAction="SOAWebServices/CredNet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SERASAHttpGet" type="tns:SERASAHttpGet">
    <http:binding verb="GET" />
  </wsdl:binding>
  <wsdl:binding name="SERASAHttpPost" type="tns:SERASAHttpPost">
    <http:binding verb="POST" />
  </wsdl:binding>
  <wsdl:service name="SERASA">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">&lt;h3&gt;SOA WebServices - SERASA Experian&lt;/h3&gt;</wsdl:documentation>
    <wsdl:port name="SERASASoap" binding="tns:SERASASoap">
      <soap:address location="http://www.soawebservices.com.br/webservices/test-drive/serasa/crednet.asmx" />
    </wsdl:port>
    <wsdl:port name="SERASASoap12" binding="tns:SERASASoap12">
      <soap12:address location="http://www.soawebservices.com.br/webservices/test-drive/serasa/crednet.asmx" />
    </wsdl:port>
    <wsdl:port name="SERASAHttpGet" binding="tns:SERASAHttpGet">
      <http:address location="http://www.soawebservices.com.br/webservices/test-drive/serasa/crednet.asmx" />
    </wsdl:port>
    <wsdl:port name="SERASAHttpPost" binding="tns:SERASAHttpPost">
      <http:address location="http://www.soawebservices.com.br/webservices/test-drive/serasa/crednet.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>